.track-list {
  margin-top: 20px;
  padding-right: 20px;
}

.track-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  transition: background 0.2s ease;
  margin-bottom: 6px;
}

.track-row:hover {
  background: rgba(255, 255, 255, 0.05);
}

.track-number-title {
  font-size: 17px;
  font-weight: 500;
}

.track-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.track-duration {
  opacity: 0.7;
}

.like-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.track-play-btn {
  background: #a855f7;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
